[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
fritter = {version = "*", index = "12700"}

[dev-packages]
ruff = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
